{% block header %}

 <div class="navbar">
    <nav>
      <div class="nav-wrapper indigo">
        <a href="/" class="brand-logo center"><i class="material-icons">transform</i></a>
        <!-- <ul class="right hide-on-med-and-down">
          <li><a href="">Categories</a></li>
          <li><a href="">Images</a></li>
        </ul> -->
      </div>
    </nav>


    <div class="fixed-action-btn">
    <a class="btn-floating btn-large #FFD300">
      <i class="large material-icons ">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating red" href="/url/"><i class="material-icons">add_a_photo</i></a></li>
      <li><a class="btn-floating blue darken-1" href="/categories/"><i class="material-icons">style</i></a></li>
    </ul>
  </div>


  </div>
{% endblock %}