{% block footer %}

<footer class="page-footer indigo">
          <div class="container">
            <div class="row">
              <div class="col l6 m12 s12">
                <h5 class="white-text">Image collection</h5>
                <p class="grey-text text-lighten-4">.</p>
              </div>
              <div class="col l4 offset-l2 m12 s12">
                <h5 class="white-text">GitHub pages</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/Rapifire">Gustavo Sabino</a></li>
                   <li><a class="grey-text text-lighten-3" href="#">Rafael Akiyoshi</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Text
            </div>
          </div>
</footer>


{% endblock %}